<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.lapse.UIComponentInstrumentation</string>
	<string>0</string>
	<string>64568.4</string>
	<string>10.7.2</string>
	<string>NwO2NzOPuMmd1/i6xFNjCcJWg5YUcloE6z9JNnR0TBU=</string>
</array>
</plist>
